<a href="https://colab.research.google.com/github/vemula-rahul/BigData/blob/main/Lists_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# @title 1. Randomly select 5 items from the list


import random

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random_items = random.sample(my_list, 5)

print(random_items)

In [54]:
# @title 2.Write a Python function get_even_numbers in new_list

numbers = [4, 7, 9, 10, 14, 3, 6]
# Output should be: [4, 10, 14, 6]

def even_list(numbers):
  new_list = []
  for num in numbers:
    if num % 2 == 0:
      new_list.append(num)
  return new_list

result = even_list(numbers)
print(result)

#using list comprehension
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)

[4, 10, 14, 6]
[4, 10, 14, 6]

In [53]:
# @title 3.Square of Numbers to a New List
numbers = [4, 7, 9, 10, 14, 3, 6]

def square_list(numbers):
  s_list=[]
  for num in numbers:
    s_list.append(num**2)

  return s_list

result = square_list(numbers)
print(result)

# using list comprehension

def squares(numbers):
  return [num**2 for num in numbers]
print(squares)

result1 = squares(numbers)
print(result)

[16, 49, 81, 100, 196, 9, 36]
<function squares at 0x7b702f4aab00>
[16, 49, 81, 100, 196, 9, 36]

In [51]:
# @title 4. Filter Strings from List
data = [1, "apple", 4.5, "banana", 3, "orange"]

def filter_strings(data):
    filtered_data = []
    for item in data:
        if isinstance(item, str):
            filtered_data.append(item)
    return filtered_data

result = filter_strings(data)
print(result)

# using list comprehension
def filter_str(data):
  return[ item for item in data if isinstance(item,str)]

result = filter_str(data)
print(result)

# using lambda function

def filter_strl(data):
  return list(filter(lambda x: isinstance(x,str),data))

result = filter_strl(data)
print(result)

['apple', 'banana', 'orange']

In [59]:
# @title 5.Numbers Greater Than Average
numbers = [10, 20, 30, 40, 50]

def greater_than_avg(numbers):
  avg = sum(numbers)/len(numbers)
  num_avg=[]
  for num in numbers:
    if num > avg:
      num_avg.append(num)
  return num_avg


result = greater_than_avg(numbers)
print(result)

#list comprehension
def greater_avg(numbers):
  avg = sum(numbers)/len(numbers)
  return[num for num in numbers if num > avg]

result1 = greater_avg(numbers)
print(result1)

[40, 50]
[40, 50]

In [69]:
# @title 6.Remove Duplicates from a List

# easiest using set
numbers = [1, 6,6, 2, 2, 3, 4, 4, 5]
def set_remove_duplicates(numbers):
  return list(set(numbers))

result = set_remove_duplicates(numbers)
print(result)

# using for loop

def for_rmv_duplicates(numbers):
  unique_list = []
  for num in numbers:
    if num not in unique_list:
      unique_list.append(num)
  return unique_list

result1 = for_rmv_duplicates(numbers)
print(result1)

# using dictonary to preserving order from python 3.7

def dict_rmv_dplct(numbers):
  return list(dict.fromkeys(numbers))

result2 = for_rmv_duplicates(numbers)
print(result2)

# using list comprehension and set

def lc_rmv_duplicates(numbers):
  u_list = set()
  return [num for num in numbers if not (u_list.add(num))]

result3 = for_rmv_duplicates(numbers)
print(result3)

[1, 2, 3, 4, 5, 6]
[1, 6, 2, 3, 4, 5]
[1, 6, 2, 3, 4, 5]
[1, 6, 2, 3, 4, 5]

In [8]:
# @title 7.Strings converted to uppercase in a list
strings = ["hello", "world", "python"]
uppercase_strings = [s.upper() for s in strings]
print(uppercase_strings)

['HELLO', 'WORLD', 'PYTHON']

In [77]:
# @title 8.Find Maximum and Minimum in a List

numbers = [5, 9, 12, 2, 15, 1]

#using built-in function
def find_max_min(numbers):
  return(max(numbers),min(numbers))

result = find_max_min(numbers)
print(result)


# using for loop
def max_min(numbers):
  max_num = numbers[0]
  min_num =numbers[0]
  for num in numbers:
    if num > max_num:
      max_num = num
    if num < min_num:
      min_num = num
  return (max_num,min_num)
result1 = max_min(numbers)
print(result1)

(15, 1)
(15, 1)

In [80]:
# @title 9. Concatenate two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# using + operator

def concatenate_list(list1,list2):
  return list1 + list2

result = concatenate_list(list1,list2)
print(result)


# using extend() method

def extend_list(list1,list2):
  list1_copy =list1.copy()
  list1_copy.extend(list2)
  return list1_copy

result1 = extend_list(list1,list2)
print(result1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [84]:
# @title 10.Split List into Two Parts
numbers = [1, 2, 3, 4, 5, 6]
split_index = 4

# Using slicing
def split_list(numbers,split_index):
  return numbers[:split_index], numbers[split_index:]

result = split_list(numbers,split_index)
print(result)

# Using for loop

def for_split_list(numbers,split_index):
  first_part = []
  second_part = []
  for i in range(len(numbers)):
    if i < split_index:
      first_part.append(numbers[i])
    else:
      second_part.append(numbers[i])
  return first_part, second_part

result1 = for_split_list(numbers,split_index)
print(result1)

([1, 2, 3, 4], [5, 6])
([1, 2, 3, 4], [5, 6])

In [86]:
# @title 11. Rotate List Elements by a number
numbers = [1, 2, 3, 4, 5]
rotate_by = 2

# Using Slicing
def rotate_list(numbers, rotate_by):
  rotate_by = rotate_by % len(numbers) #  if the rotate_by exceeds length of the numbers
  return numbers[-rotate_by:] + numbers[:-rotate_by]

result = rotate_list(numbers, rotate_by)
print(result)

# Using for loop
def for_rotate_list(numbers,rotate_by):
  rotate_by = rotate_by % len(numbers)
  for _ in range(rotate_by):
    numbers.insert(0, numbers.pop())
  return numbers

result1 = for_rotate_list(numbers, rotate_by)
print(result1)

[4, 5, 1, 2, 3]
[4, 5, 1, 2, 3]

In [94]:
# @title 12 Count Occurrences of an Element
numbers = [1, 3, 4, 3, 3, 5, 6]
element = 3

# using count() menthod
def count_occurances(numbers,element):
  return numbers.count(element)

result = count_occurances(numbers,element)
print(result)

# using for loop
def for_count_occurance(numbers, element):
  count = 0
  for x in numbers:
    if x == element:
      count +=1
  return count

result1 = for_count_occurance(numbers, element)
print(result1)

3
3

In [101]:
# @title 13. Find Common Elements Between Two Lists
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

# Using set intersection
def find_common_elements(list1, list2):
    return list(set(list1) & set(list2))

result = find_common_elements(list1, list2)
print(result)

# using for loop
def for_common_elements(list1,list2):
  common_list = []
  for x in list1:
    if x in list2:
      common_list.append(x)
  return common_list

result1 = for_common_elements(list1, list2)
print(result1)

# List comprehension to find common elements
result3 = [x for x in list1 if x in list2]
print(result3)

[3, 4]
[3, 4]
[3, 4]

In [111]:
# @title 14. Check if List is Palindrome
numbers = [1, 2, 3, 2, 1]

#using Slicing
def is_palindrome(numbers):
  return numbers == numbers[::-1]


result = is_palindrome(numbers)
print(result)

#using for loop

def for_is_palindrome(numbers):
  for i in range(len(numbers)// 2):
    if numbers[i] != numbers[-(i +1)]:
      return False
  return True

result1 = for_is_palindrome(numbers)
print(result1)

True
True

In [114]:
# @title 15. Reverse a List
numbers = [10, 20, 30, 40, 50]

#using Slicing
def reverse_list(numbers):
  return numbers[::-1]

result = reverse_list(numbers)
print(result)

#using reverse() method

def reverse_list1(numbers):
  numbers_copy = numbers.copy()
  numbers_copy.reverse()
  return numbers_copy

result1 = reverse_list1(numbers)
print(result1)

[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]

In [116]:
# @title 16.Find the Second Largest Element
numbers = [8, 4, 6, 12, 2, 10]

# using sorting
def second_large_num(numbers):
  unique_list = list(set(numbers))
  unique_list.sort()
  return unique_list[-2]

result = second_large_num(numbers)
print(result)

#using for loop
def find_second_largest(numbers):
  first = second = float('-inf')
  for num in numbers:
    if num > first:
      first = num
    elif first > num > second:
      second = num
  return second

result1 = find_second_largest(numbers)
print(result1)

10
10

In [117]:
# @title 17. Flatten a Nested List
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

#using list comprehension
def flatten_list(nested_list):
    return [item for sublist in nested_list for item in sublist]

result = flatten_list(nested_list)
print(result)

# Using a for loop

def for_flatten_list(nested_list):
  flat_list = []
  for sublist in nested_list:
    for item in sublist:
      flat_list.append(item)
  return flat_list

result1 = for_flatten_list(nested_list)
print(result1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]